<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Login Register</title>
 <%- include('head') %>

</head>
<body>
    <%- include('header') %>
 <div class="container">
    
<div class="jumbotron text-center">
    <img src="https://syncsite.net/wp-content/uploads/bfi_thumb/42704290_thumbnail-35hlw2qkd9ub5c276ti97lhs6lmf5s1rrkcgns33409q87dg0.jpg" alt=""  width="100%">
  
      <h3 class="text-center">RPA App</h3>
   <a href="/login" class="btn btn-lg btn-success">Login</a>
   <a href="/signup" class="btn btn-lg btn-info">Register</a>
  </div>
 </div>
</body>
</html>